/*html, body { height: 100%; }*/

DIV.table 
{
    display:table;
    width:80%;
    margin:20px;
}
FORM.tr, DIV.tr
{
    display:table-row;
}
div.td
{
    display:table-cell;
    text-align:center;
}

.radioGroup{
	font-size:xx-small;
}

#waitingGIF{
	width:20px;
	height:20px;
	visibility:hidden;
}

#banner {
  width:100%;
  height:100px;
  background-image: url("images/linear-gradient.png");
}

#faa {
  width:80px;
  height:80px;
  margin-left:40px;
  margin-top:10px;
}

#footer {
	width:100%;
	height:183px;
	background-image: url("images/Capture.PNG");
	background-repeat:no-repeat;
	background-position:center;
}

#usageLabel{
	width:290px;
	min-width:290px;
}

.form-control {
	font-size:14px;
	margin:5px;
	padding:0px 5px 0px 5px;
}

select{
	vertical-align:middle;
	height:25px;
	padding:4px;
	margin:5px;
}

.input-xs {
	height:25px;
}

.btn-mini {
	font-size:10px;
    height: 25px;
    line-height: 14px;
    padding-top:3px;
}

.my-drop-zone { border: dotted 3px lightgray; }
.ng-file-over { border: dotted 3px red; } 

canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    height: 100px;
    margin: 6px 0 0 6px;
}