
DIV.table 
{
    display:table;
    width:100%;
    margin-top:20px;
}
FORM.tr, DIV.tr
{
    display:table-row;
}
div.td
{
    display:table-cell;
}

.test{
	width:600px !important;
	max-width:1000px;
}

.radioGroup{
	font-size:xx-small;
}

#waitingGIF{
	width:20px;
	height:20px;
	visibility:hidden;
}

#banner {
  width:100%;
  height:100px;
  background-image: url("images/linear-gradient.png");
}

#faa {
  width:80px;
  height:80px;
  margin-left:40px;
  margin-top:10px;
}

#footer {
	width:100%;
	height:183px;
	background-image: url("images/Capture.PNG");
	background-repeat:no-repeat;
	background-position:center;

}